
.presentation {
    background-color: #131313;
    padding: 10px 2px;
}

.presentation__container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.presentation__item {
    width: 33.33%;
    padding: 20px;
}


@media(max-width: 980px) {
    .presentation__container {
        width: 100%;
        padding: 20px;
    }
}

@media(max-width: 860px) {
    .presentation__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .presentation__item {
        font-size: 1.5rem;
    }

    .presentation__item--main {
        width: 100%;
    }

    .presentation__item--main p {
        text-align: center !important;
        font-size: 1.8rem !important;
    }
}