.skills {
    margin-top: 60px;
}

.skills__container {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
}

.skill {
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

@media(max-width: 900px) {
    .skills__container {
        width: 85%;
        padding: 20px;
    }
}

@media(max-width: 775px) {
    .skill {
        flex-direction: column;
    }

    .skill__text {
    	margin-top: 20px;
    	text-align: center !important;
    }

    .order-2-sm {
    	order: 2;
    }

    .order-1-sm {
    	order: 1;
    }
}