.howWork {
    padding: 20px;
    margin-top: 30px;
}

.howWork__container {
    max-width: 1100px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.howWork__header {
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
    max-width: 700px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.howWork__header-text {
    text-align: left;
    padding: 5px 5px 5px 30px;
}

.howWork__feels {
    justify-content: space-around;
    margin-top: 70px;
}

.feel-card {
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 30%;
    padding: 10px;
}

@media(max-width: 1101px) {
   /* .howWork__container {
        width: 100%;
        padding: 20px;
    } */
}

@media(max-width: 745px) {
  .howWork__feels, 
  .howWork__header {
    flex-direction: column;
  }

  .feel-card {
    width: 100%;
    margin-bottom: 20px;
  }
}